// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.map-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #dfdfdf;
    border-radius: 1rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .cursor {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.03s linear;
        opacity: 0;
        transform: translate(-50%, -50%);

        &.active {
            opacity: 1;
        }
    }

    .marker-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .shop-name-icon-container {
            img {
                width: 30px;
                height: 30px;
            }
        }
        .shop-name-container {
            min-width: 100px;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            position: relative;
        }
    }
}

.marker {
    width: 30px;
    height: 30px;
}
